@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');


body {
    background-color: lightgrey;
    color: red;
    font-family: 'Raleway', sans-serif;
    margin: 2px;
}

.header-img {
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
}

h1 {
    text-align: center;
}

ul {
    justify-content: space-evenly;
}

img {
    display: none;


}

li {
    list-style: none;
    justify-content: space-between;
}

div {
    margin: 30px;
}

h2 {
    text-align: center;
}

p {
    color: black;
    text-align: center;
}

.alert-info {
    align-self: flex-end;
}

#social-media-links {
    display: flex;
    text-align: center;
    margin: 20px 80px;
    border-bottom: none;
}

@media screen and (min-width: 360px) {

    footer div {
        justify-content: center;
    }
}


@media screen and (min-width: 768px) {
    body {
        background-color: mediumpurple;
    }

    img {
        display: block;
    }

    footer div {
        display: flex;
        justify-content: center;
        margin: 20px 80px;
    }
}

@media screen and (min-width: 900px) {
    body {
        background-color: lawngreen;
    }
div
{
    margin: 34px;
    padding: 32px;
}

    img {
        display: block;
    }

    footer div {
        display: flex;
        justify-content: center;
        margin: 20px 80px;
    }
}